[user]
name = hasansino
email = 4024450+hasansino@users.noreply.github.com

[help]
autocorrect = 1

[core]
excludesfile = ~/.gitignore
editor = nano
autocrlf = input

[credential]
helper = cache

[tag]
forceSignAnnotated = true

[init]
defaultBranch = master

[push]
default = current

[pull]
rebase = false

[color]
ui = auto

[column]
ui = auto

[rerere]
enabled = true

[rebase]
autosquash = true
autostash = true

[include]
path = ~/.gitconfig.local

[branch]
autoSetupMerge = always
